# D9SDK ignore files
D9StudioSDK/D9StudioSDK.xcodeproj/xcuserdata/
D9StudioSDK/build/

# Dependent ignore files
DependentApp/DependentApp.xcodeproj/xcuserdata/

# ignore svn files
*.DS_Store
*.svn

#Ignore files build bu xcode
*.scuserdata/
*.DerivedData/
*.mode*v*
*.pbxuser
*.xcbkptlist
*.xcscheme
*.xcworkspacedata
*.xcuserstate
xcschememanagement.plist
